@import "~normalize.css";

body {
    font-family: 'Courier New', Courier, monospace;
}

.scss {
    border: 1px solid yellow;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.flex-item {
    border: 1px solid green;
    color: darkblue;
    font-weight: 700;
}