extends ../../layout/main

block variables
    - var title = 'FSD 2nd step';
    - var description = 'Description for site';
    - var pageClass = 'index-page';

block content
    section
        .container
            