include ../../bemto/bemto.pug
include ../utils/mixins
block variables

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content=description)
        title #{title}
        block head

    body(class=pageClass)
        .wrapper
            include ../common.blocks/header/header.pug
            .content-wrapper
                block content
            include ../common.blocks/footer/footer.pug

        block script